[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
	branch = master
	update = merge
	ignore = untracked
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
	branch = master
	update = merge
	ignore = untracked
[submodule ".vim/bundle/vim-git"]
	path = .vim/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
	branch = master
	update = merge
	ignore = untracked
[submodule ".vim/bundle/vim-python-pep8-indent"]
	path = .vim/bundle/vim-python-pep8-indent
	url = git://github.com/hynek/vim-python-pep8-indent.git
	branch = master
	update = merge
	ignore = untracked
